<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> <ion-button fill="clear" href="/home" color="success"><ion-icon slot="start" name="star"></ion-icon> Back</ion-button> Ejercicio 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row> 
    <ion-col size-xs="12" size-md="6" size-lg="4"> 1</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 2</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 3</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 4</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 5</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 6</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 7</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 8</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 9</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4"> 10</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4">11</ion-col>
    <ion-col size-xs="12" size-md="6" size-lg="4">12</ion-col>
  </ion-row>
</ion-content>
