<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menú de Ejericios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicio 1</ion-card-title>
      <ion-card-subtitle>1</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" href="/exercise1"> Ejercicio 1</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicio 2</ion-card-title>
      <ion-card-subtitle>2</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" href="/exercise2"> Ejercicio 2</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicio 3</ion-card-title>
      <ion-card-subtitle>3</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" href="/exercise3"> Ejercicio 3</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicio 4</ion-card-title>
      <ion-card-subtitle>4</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" href="/exercise4"> Ejercicio 4</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ejercicio 5</ion-card-title>
      <ion-card-subtitle>5</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear" href="/exercise5"> Ejercicio 5</ion-button>
  </ion-card>

</ion-content>
